
<div class="container">

  <div class="header">
    <div class="header-title">Statistics</div>
    <div class="header-buttons">
      <img src="./assets/refresh-button.png" alt="refresh">
    </div>
  </div>

  <div class="stats">
    <div class="stats-container">
      <div class="stats-header">3,000</div>
      <div class="stats-subtitle">Account 1</div>
    </div>

    <div class="stats-container">
      <div class="stats-header stats-header--accent">3,000</div>
      <div class="stats-subtitle">Account 2</div>
    </div>

  </div>

  <div>
    <app-chart [data]="{ account1: [1,2,3], account2: [4,5,6]}">
    </app-chart>
  </div>

</div>
